table {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    border-collapse: collapse;
    width: 75%;
}

th {
    border: 1px solid;
    width: 68%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: #d8d8d8;
}

.with-border {
    border: 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
}

.with-border-total-amount {
    border: 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    background-color: #f2f2f2;
}

.total {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: end;
    padding-right: 2%;
    font-weight: bold;
    border-bottom: none;
    border-left: none;
}